*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
static routing example log.txt
DlMacStats.txt
DlPdcpStats.txt
DlRlcStats.txt
logging_out.txt
UlMacStats.txt
UlPdcpStats.txt
UlRlcStats.txt
RADICS log.txt
HELICS_FNCS_CSMA_wireless.cc
R4-12.47-1_sm_positions_m.csv
RADICS_CSMA_wireless.cc
